.option {
    border: 15px solid;
    border-radius: 50%;
    border-color: transparent;
    background-color: var(--light-background);
    background-repeat: no-repeat;
    background-position: center;


    --scissors-gradient: linear-gradient(to top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --scissors-shadow: hsl(29, 81%, 44%);
    --paper-gradient: linear-gradient(to top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    --paper-shadow: hsl(228, 64%, 45%);
    --rock-gradient: linear-gradient(to top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    --rock-shadow: hsl(348, 77%, 35%);
    --lizard-gradient: linear-gradient(to top, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    --lizard-shadow: hsl(261, 52%, 45%);
    --spock-gradient: linear-gradient(to top, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    --spock-shadow: hsl(194, 59%, 43%);
}

.basic-version.option,
.bonus-version.option {
    position: absolute;
    transform: translate(-50%, -50%);
}

.basic-version.option {
    height: 150px;
    width: 150px;
}

.bonus-version.option {
    height: 130px;
    width: 130px;
}

.selectedOption {
    height: 200px;
    width: 200px;
    border-width: 25px;
}

.iconContainer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0px 7px 0 hsl(312, 4%, 76%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-icon {
    height: 50%;
}

.option-scissors {
    background:
        linear-gradient(var(--light-background), var(--light-background)) padding-box,
        var(--scissors-gradient) border-box;
    box-shadow: 0px 4px var(--scissors-shadow);
}

.option-paper {
    background:
        linear-gradient(var(--light-background), var(--light-background)) padding-box,
        var(--paper-gradient) border-box;
    box-shadow: 0px 7px 0 var(--paper-shadow);
}

.option-rock {
    background:
        linear-gradient(var(--light-background), var(--light-background)) padding-box,
        var(--rock-gradient) border-box;
    box-shadow: 0px 7px 0 var(--rock-shadow);
}

.option-lizard {
    background:
        linear-gradient(var(--light-background), var(--light-background)) padding-box,
        var(--lizard-gradient) border-box;
    box-shadow: 0px 7px 0 var(--lizard-shadow);
}

.option-spock {
    background:
        linear-gradient(var(--light-background), var(--light-background)) padding-box,
        var(--spock-gradient) border-box;
    box-shadow: 0px 7px 0 var(--spock-shadow);
}