@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
    --dark-text-color: hsl(229, 25%, 31%);
    --score-text-color: hsl(229, 64%, 46%);
    --header-outline-color: hsl(217, 16%, 45%);

    --light-background: hsla(360, 0%, 92%, 1);
    --background: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
}

body {
    height: 100vh;
    background: radial-gradient(ellipse at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    margin: 20px auto 0;
    height: 155px;
    padding: 20px;
    border: 3px solid var(--header-outline-color);
    border-radius: 15px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 800px;
    overflow: hidden;
}

.header_logo-slider{
    position:relative;
}
.header_logo-basic, .header_logo-bonus{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 1s ease;
}

.header_logo-basic.hide{
    transform: translateY(-170%);
}

.header_logo-bonus.hide{
    transform: translateY(70%);
}

.header_score-container {
    background-color: var(--light-background);
    width: 120px;
    border-radius: 7px;
    box-shadow: 0px 0px 2px 0px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header_score-container_heading {
    color: var(--score-text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}

.header_score-container_score {
    color: var(--dark-text-color);
    font-size: 48px;
}

.main {
    flex-grow: 1;
    position: relative;
     /*align-self: center;*/
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main_optionsContainer {
    align-self: center;
    text-align: center;
    margin: 0 auto;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /* background-color: aliceblue; */
}

.boards-container {
    display: flex;
    gap: 40px;
    align-items: center;
    position: absolute;
}


.choiceBoard {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.boardHeader {
    color: var(--light-background);
    text-transform: uppercase;
    text-shadow: 2px 2px 5px black;
    z-index: 1;
}

.resultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.resultContainer-hide {
    width: 0;
    opacity: 0;
    transition: width 1s ease, opacity 1s ease 0.5s;
}

.resultContainer-show {
    width: 300px;
    opacity: 1;
}

.resultText {
    color: var(--light-background);
    text-transform: uppercase;
    text-shadow: 2px 2px 5px black;
    font-size: 52px;
}

.optionElementContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic-version.main_optionsContainer_backgroundImage {
    width: 200px;
}

.bonus-version.main_optionsContainer_backgroundImage {
    width: 300px;
}

.main_menu{
    align-self: flex-start;
    transition: all 1s ease;
    transform: translateY(0%);
}

.main_menu.hide{
    transform: translateY(-150%);
}

.main_basicVersionContainer{
    position: relative;
    justify-self: center;

    align-self: center;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aliceblue; */
}

.main_bonusVersionContainer{
    position: relative;
    justify-self: center;

    align-self: center;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aliceblue; */
}


.main_menu_version {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_basicVersionContainer[open],
.main_bonusVersionContainer[open],
.basic-rules[open],
.bonus-rules[open]{
    animation: fade-in 1000ms forwards;
}

.main_basicVersionContainer[closing],
.main_bonusVersionContainer[closing],
.basic-rules[closing],
.bonus-rules[closing]{
    animation: fade-out 1000ms forwards;
}

.main_basicVersionContainer.hide,
.main_bonusVersionContainer.hide,
.basic-rules.hide,
.bonus-rules.hide{
    display: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.button {
    border: 1px solid var(--light-background);
    font-size: 18px;
    padding: 10px;
    margin: 20px;
    border-radius: 7px;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}

.primary-button {
    background-color: var(--light-background);
    color: var(--dark-text-color);
    width: 240px;
    box-shadow: 0px 0px 2px 0px black;
    font-weight: 700;
}

.secondary-button {
    background-color: transparent;
    color: var(--light-background);
    width: 120px;
}

.footer {
    text-align: right;
    transform: translateY(0%);
    transition: transform 1s ease;
}

.footer.hide{
    transform: translateY(100%);
}

.rules{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /*transform: translateY(-150%);*/
    z-index: 2;
}

.rules-window{
    padding: 20px;
    border-radius: 20px;
    background-color: var(--light-background);
    box-shadow: 0 0 0 100vw rgb(0 0 0 / .5);
}

.rules-window-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.rules-window-header h2{
    text-transform: uppercase;
    color: var(--dark-text-color);
}

.rules-window-close-button{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules-window-close-button:hover{
    transform: scale(1.2);
}